<mat-toolbar *ngIf="smallScreen$ | async">
  <div class="d-flex justify-content-start align-items-center">
    <button *ngIf="allowBack" mat-button routerLink="../">
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
    <button
      *ngIf="hasChild"
      mat-button
      color="primary"
      [routerLink]="childLevelLink"
    >
      {{ buttonText }}
    </button>
  </div>
</mat-toolbar>
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center px-4">
    <button
      *ngIf="allowBack && !(smallScreen$ | async)"
      mat-button
      routerLink="../"
    >
      <mat-icon>arrow_back</mat-icon>
      <span>Back</span>
    </button>
    <button
      *ngIf="hasChild && !(smallScreen$ | async)"
      mat-button
      color="primary"
      [routerLink]="childLevelLink"
    >
      {{ buttonText }}
    </button>
    <app-display-text-head [textInput]="headerText"></app-display-text-head>
  </div>
  <mat-divider class="my-3"></mat-divider>
</div>
