<div class="bg-body-secondary py-5">
  <div class="container">
    <div class="row align-items-start">
      <div class="col">
        <p class="fs-4 mb-4">FURIDA</p>
        <P class="w-75 mb-4">
          FURIDA over the years has strived to make a positive difference in
          society through implementing various development projects by Jharkhand
          Govt. that empower communicates at the Grass-Root level and improve
          the quality of living with a focus on continued reflection.
        </P>
        <div class="mb-2">
          <span class="fw-semibold">Email: </span><span>{{ email }}</span>
        </div>
        <div>
          <span class="fw-semibold">Phone: </span><span>{{ phone }}</span>
        </div>
      </div>
      <div class="col">One of three columns</div>
      <div class="col">One of three columns</div>
    </div>
  </div>
</div>
