$width-default: 90%;
$width-medium: 50%;
$width-large: 40%;

.contact-form {
  width: $width-default;

  @media (min-width: 768px) {
    width: $width-medium;
  }

  @media (min-width: 992px) {
    width: $width-large;
  }
}
