<app-nav-toolbar
  [headerText]="headerText"
  [buttonText]="buttonText"
  [childLevelLink]="childLevelLink"
></app-nav-toolbar>
<mat-tab-group>
  <mat-tab label="Documents">
    <div class="container py-3">
      <div class="d-flex justify-content-center">
        <mat-form-field class="filter-container">
          <mat-label>Filter By Project</mat-label>
          <mat-select
            [(value)]="selectedProjectId"
            (selectionChange)="selectProject($event.value)"
          >
            <mat-option
              *ngFor="let project of projects$ | async"
              [value]="project.id"
              >{{ project.name }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <mat-progress-bar
        *ngIf="loading$ | async"
        mode="indeterminate"
        class="mb-3"
      ></mat-progress-bar>
      <app-document-cards
        *ngIf="!(tableView$ | async)"
        [documents$]="filteredDocuments$"
      ></app-document-cards>
      <app-document-table
        *ngIf="tableView$ | async"
        [documents$]="filteredDocuments$"
      ></app-document-table></div
  ></mat-tab>
  <mat-tab label="Add New">
    <div class="container py-3">
      <app-doc-form></app-doc-form>
    </div>
  </mat-tab>
</mat-tab-group>
