<button mat-button>
  <p class="link-name mb-0" routerLink="/">Home</p>
</button>
<button mat-button>
  <p class="link-name mb-0" routerLink="/about">About</p>
</button>
<button mat-button [matMenuTriggerFor]="projectMenu">
  <span class="d-flex align-items-center"
    >Projects<mat-icon>expand_more</mat-icon></span
  >
</button>
<mat-menu #projectMenu="matMenu">
  <button
    mat-menu-item
    *ngFor="let project of projects$ | async"
    [routerLink]="['/projects', project.id]"
  >
    {{ project.name }}
  </button>
</mat-menu>
<button mat-button>
  <p class="link-name mb-0" routerLink="/contact">Contact</p>
</button>
<button mat-button>
  <p class="link-name mb-0" routerLink="/cctv">CCTV</p>
</button>
<app-admin-button></app-admin-button>
