.mat-column-name {
  width: 200px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-desc {
  min-width: 300px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-downloadLink {
  width: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-edit {
  width: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-delete {
  width: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
