<div class="d-flex justify-content-center">
  <form [formGroup]="form" (ngSubmit)="signup()" class="w-25">
    <mat-card appearance="outlined">
      <div class="container py-4">
        <div class="d-flex flex-column">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            <mat-error *ngIf="form.get('username')?.hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
            <mat-error *ngIf="form.get('email')?.hasError('required')">
              Email is required
            </mat-error>
            <mat-error
              *ngIf="
                form.get('email')?.hasError('email') &&
                !form.get('email')?.hasError('required')
              "
            >
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="form.get('password')?.hasError('required')">
              Password is required
            </mat-error>
            <mat-error
              *ngIf="
                form.get('password')?.hasError('minlength') &&
                !form.get('password')?.hasError('required')
              "
            >
              Password must be at least 8 characters long
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select matInput formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role">{{
                role
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('role')?.hasError('required')">
              Role is required
            </mat-error>
          </mat-form-field>
          <div class="d-flex justify-content-end align-items-center gap-2">
            <mat-spinner *ngIf="loading$ | async" diameter="30"></mat-spinner>
            <button
              mat-raised-button
              color="primary"
              class="w-25"
              type="submit"
              [disabled]="form.invalid || (loading$ | async)"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </form>
</div>
