<mat-progress-bar
  *ngIf="loading$ | async"
  mode="indeterminate"
  class="mb-3"
></mat-progress-bar>
<div class="container">
  <div class="row g-3">
    <div class="col-auto" *ngFor="let user of users$ | async">
      <mat-card
        matBadge="U"
        [matBadgeHidden]="!(isLoggedInUser(user.username) | async)"
        appearance="outlined"
        class="custom-card shadow-sm"
      >
        <mat-card-header class="mb-2">
          <mat-card-title class="single-line-truncate">
            {{ user.username }}
          </mat-card-title>
          <mat-card-subtitle>{{ user.role }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content-h mb-3">
          <p>{{ user.email }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="gap-2">
          <div
            [matTooltip]="
              !(isLoggedInUser(user.username) | async) ? editConstraint : ''
            "
            [matTooltipDisabled]="isLoggedInUser(user.username) | async"
          >
            <button
              mat-button
              (click)="updateUser()"
              [disabled]="
                !(isLoggedInUser(user.username) | async) || (loading$ | async)
              "
            >
              EDIT
            </button>
          </div>
          <div
            [matTooltip]="
              (isLoggedInUser(user.username) | async) ? deleteConstraint : ''
            "
            [matTooltipDisabled]="!(isLoggedInUser(user.username) | async)"
          >
            <button
              mat-button
              (click)="deleteUser(user.id)"
              [disabled]="
                (isLoggedInUser(user.username) | async) || (loading$ | async)
              "
            >
              DELETE
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
