<div class="bg-body-secondary py-5">
  <div class="container w-75">
    <div class="row align-items-start">
      <div class="col">
        <p class="fs-4 mb-4">FURIDA</p>
        <P class="w-75 mb-4">
          FURIDA over the years has strived to make a positive difference in
          society through implementing various development projects by Jharkhand
          Govt. that empower communicates at the Grass-Root level and improve
          the quality of living with a focus on continued reflection.
        </P>
        <div class="mb-2">
          <span class="fw-semibold">Email: </span><span>{{ email }}</span>
        </div>
        <div>
          <span class="fw-semibold">Phone: </span><span>{{ phone }}</span>
        </div>
      </div>
      <div class="col-lg-4">
        <p class="fs-5 mb-4">Quick Links</p>
        <p class="fs-6 mb-3">
          <a [routerLink]="'/'" class="link-style">Home</a>
        </p>
        <p class="fs-6 mb-3">
          <a [routerLink]="'/about'" class="link-style">About</a>
        </p>
        <p class="fs-6 mb-3">
          <a [routerLink]="'/contact'" class="link-style">Contact</a>
        </p>
        <p class="fs-6 mb-3">
          <a [routerLink]="'/cctv'" class="link-style">CCTV</a>
        </p>
      </div>
    </div>
  </div>
</div>
