<div class="bg-body-secondary py-5">
  <div class="container w-75">
    <div class="row align-items-start">
      <!-- Column 1 -->
      <div class="col-12 col-lg-8 mb-2 mb-lg-0">
        <p class="fs-4 mb-4">FURIDA</p>
        <p class="banner-info mb-4">
          FURIDA over the years has strived to make a positive difference in
          society through implementing various development projects by Jharkhand
          Govt. that empower communities at the Grass-Root level and improve the
          quality of living with a focus on continued reflection.
        </p>
        <div class="mb-2">
          <span class="fw-semibold">Email: </span><span>{{ email }}</span>
        </div>
        <div>
          <span class="fw-semibold">Phone: </span><span>{{ phone }}</span>
        </div>
      </div>

      <!-- Divider for small screens -->
      <mat-divider *ngIf="smallScreen$ | async" class="my-3"></mat-divider>

      <!-- Column 2 -->
      <div class="col-12 col-lg-4 mt-4 mt-lg-0">
        <p class="fs-5 mb-4">Quick Links</p>
        <p class="fs-6 mb-3">
          <a [routerLink]="'/'" class="link-style">Home</a>
        </p>
        <p class="fs-6 mb-3">
          <a [routerLink]="'/about'" class="link-style">About</a>
        </p>
        <p class="fs-6 mb-3">
          <a [routerLink]="'/contact'" class="link-style">Contact</a>
        </p>
        <p class="fs-6">
          <a [routerLink]="'/cctv'" class="link-style">CCTV</a>
        </p>
      </div>
    </div>
  </div>
</div>
