<div class="bg-red-50 py-5">
  <div class="w-full px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Column 1 -->
      <div class="space-y-4 col-span-2">
        <p class="text-3xl font-semibold text-red-600">FURIDA</p>
        <p class="text-lg text-gray-600">
          FURIDA over the years has strived to make a positive difference in
          society through implementing various development projects by Jharkhand
          Govt. that empower communities at the Grass-Root level and improve the
          quality of living with a focus on continued reflection.
        </p>
        <div class="text-gray-800">
          <span class="font-semibold">Email: </span><span>{{ email }}</span>
        </div>
        <div class="text-gray-800">
          <span class="font-semibold">Phone: </span><span>{{ phone }}</span>
        </div>
      </div>
      <!-- Column 2 -->
      <div class="space-y-4 mt-4 lg:mt-0">
        <p class="text-xl font-semibold text-gray-800">Quick Links</p>
        <p class="text-lg text-gray-600">
          <a [routerLink]="'/'" class="link link-hover">Home</a>
        </p>
        <p class="text-lg text-gray-600">
          <a [routerLink]="'/about'" class="link link-hover">About</a>
        </p>
        <p class="text-lg text-gray-600">
          <a [routerLink]="'/contact'" class="link link-hover">Contact</a>
        </p>
        <p class="text-lg text-gray-600">
          <a [routerLink]="'/cctv'" class="link link-hover">CCTV</a>
        </p>
      </div>
    </div>
  </div>
</div>
