<app-nav-toolbar
  [headerText]="headerText"
  [buttonText]="buttonText"
  [childLevelLink]="childLevelLink"
></app-nav-toolbar>
<div class="container">
  <mat-tab-group>
    <mat-tab label="Projects">
      <div class="py-3">
        <mat-progress-bar
          *ngIf="loading$ | async"
          mode="indeterminate"
          class="mb-3"
        ></mat-progress-bar>
        <app-project-table *ngIf="tableView$ | async"></app-project-table>
        <app-project-cards
          *ngIf="!(tableView$ | async)"
        ></app-project-cards></div
    ></mat-tab>
    <mat-tab label="Add New"
      ><div class="py-3">
        <app-project-form></app-project-form></div
    ></mat-tab>
  </mat-tab-group>
</div>
