<app-header></app-header>
<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-4 px-4">
    <div class="display-4">Your Projects</div>
    <div class="d-flex gap-2">
      <button mat-raised-button color="primary" routerLink="/add-project">
        Add New Project
      </button>
      <button mat-raised-button routerLink="/admin">
        <mat-icon>arrow_back</mat-icon>
        Go Back
      </button>
    </div>
  </div>
  <hr />
</div>
<div class="container">
  <mat-progress-bar
    *ngIf="isLoading"
    mode="indeterminate"
    class="mb-3"
  ></mat-progress-bar>
  <div class="row row-cols-3 px-4">
    <div class="col" *ngFor="let project of projects">
      <mat-card appearance="outlined" class="mb-3 shadow-sm">
        <mat-card-header class="mb-2">
          <mat-card-title class="single-line-truncate">
            {{ project.name }}
          </mat-card-title>
          <mat-card-subtitle>{{ project.desc }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="truncate-text card-content-h">
          <p>{{ project.desc }}</p>
        </mat-card-content>
        <mat-card-actions class="btn-group">
          <button mat-button [disabled]="isLoading">EDIT</button>
          <button mat-button [disabled]="isLoading">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
