<mat-toolbar color="primary" class="shadow">
  <div class="d-flex justify-content-between align-items-center h-100 w-100">
    <div class="d-flex align-items-center h-100">
      <button
        *ngIf="smallScreen$ | async"
        mat-icon-button
        (click)="toggleMenu()"
      >
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
      <app-brand-logo-v2 class="h-100"></app-brand-logo-v2>
    </div>
    <app-navbar-buttons
      *ngIf="!(smallScreen$ | async)"
      class="h-100"
    ></app-navbar-buttons>
  </div>
</mat-toolbar>
