<header class="navbar shadow-lg z-50 outline outline-1 outline-slate-200">
  <div class="flex justify-between items-center w-full h-full px-4">
    <!-- Brand Logo -->
    <div class="flex-1">
      <app-brand-logo-v2 />
    </div>

    <!-- Navigation Links (for larger screens) -->
    <div *ngIf="!smallScreen" class="flex items-center space-x-2 h-full">
      <a class="btn btn-ghost normal-case" routerLink="/about"> About </a>

      <div class="dropdown">
        <label tabIndex="0" class="btn btn-ghost normal-case">
          Projects <i class="material-icons">arrow_drop_down</i></label
        >
        <ul
          tabIndex="0"
          class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li
            *ngFor="let project of projects$ | async"
            [routerLink]="['/projects', project.id]"
          >
            <a>{{ project.name }}</a>
          </li>
        </ul>
      </div>

      <a class="btn btn-ghost normal-case" routerLink="/contact"> Contact </a>

      <a class="btn btn-ghost normal-case"> CCTV </a>

      <button
        *ngIf="isUserLoggedIn() | async"
        class="btn btn-ghost normal-case"
        routerLink="/admin"
      >
        <mat-icon fontIcon="settings"></mat-icon>
        <span>Admin Console</span>
      </button>
    </div>

    <!-- Mobile Menu Button (for smaller screens) -->
    <button
      *ngIf="smallScreen"
      class="btn btn-square btn-ghost"
      (click)="toggleMenu()"
    >
      <mat-icon fontIcon="menu"></mat-icon>
    </button>
  </div>
</header>
