<mat-toolbar color="primary">
  <div class="d-flex justify-content-between align-items-center h-100 w-100">
    <app-brand-logo-v2 class="h-100"></app-brand-logo-v2>
    <div>
      <button
        mat-icon-button
        class="link-button"
        [matMenuTriggerFor]="profileMenu"
      >
        <mat-icon fontIcon="account_circle"></mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu" xPosition="before">
        <div mat-menu-item class="py-2">
          <mat-icon fontIcon="person"></mat-icon>
          <span class="d-flex flex-column">
            <p class="profile-text">{{ getAuthUsername() | async }}</p>
            <p class="profile-text text-muted">
              {{ getAuthEmail() | async }}
            </p>
          </span>
        </div>
        <button mat-menu-item (click)="logout()">
          <mat-icon fontIcon="logout"></mat-icon><span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
