<div class="container">
  <div class="d-flex justify-content-center">
    <div class="w-50">
      <div class="container">
        <button
          color="primary"
          class="w-100 my-2"
          routerLink="projects"
          mat-fab
          extended
        >
          Projects
        </button>
      </div>
      <div class="container">
        <button
          color="primary"
          class="w-100 my-2"
          routerLink="posts"
          mat-fab
          extended
        >
          Posts
        </button>
      </div>
      <div class="container">
        <button
          color="primary"
          class="w-100 my-2"
          routerLink="documents"
          mat-fab
          extended
        >
          Documents
        </button>
      </div>
      <div class="container">
        <button
          color="primary"
          class="w-100 my-2"
          routerLink="users"
          mat-fab
          extended
        >
          Users
        </button>
      </div>
      <div class="container">
        <button
          color="primary"
          class="w-100 my-2"
          routerLink="messages"
          mat-fab
          extended
        >
          Inbox
        </button>
      </div>
    </div>
  </div>
</div>
