<div class="container">
  <div class="d-flex justify-content-center">
    <div class="menu-items">
      <button
        color="primary"
        class="w-100 my-2"
        routerLink="projects"
        mat-fab
        extended
      >
        Projects
      </button>
      <button
        color="primary"
        class="w-100 my-2"
        routerLink="posts"
        mat-fab
        extended
      >
        Posts
      </button>
      <button
        color="primary"
        class="w-100 my-2"
        routerLink="documents"
        mat-fab
        extended
      >
        Documents
      </button>
      <button
        color="primary"
        class="w-100 my-2"
        routerLink="users"
        mat-fab
        extended
      >
        Users
      </button>
      <button
        color="primary"
        class="w-100 my-2"
        routerLink="messages"
        mat-fab
        extended
      >
        Inbox
      </button>
      <button
        color="primary"
        class="w-100 my-2"
        routerLink="config"
        mat-fab
        extended
      >
        Config Settings
      </button>
    </div>
  </div>
</div>
