.single-line-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 340px;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content-h {
  height: 60px;
}

.card-image-h {
  object-fit: cover;
  height: 300px;
  width: 100%;
}
