<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <div class="about-section">
      <p class="about-text mb-4">
        FURIDA over the years has strived to make a positive difference in
        society through implementing various development projects by Jharkhand
        Govt. that empower communicates at the Grass-Root level and improve the
        quality of living with a focus on continued reflection.
      </p>
      <p class="about-text">
        The organization always owned community mobilization as an appropriating
        strategy for community development, we have taken this approach as a
        golden rule to forge ahead through our participating approach we are
        aligning our mission with the community to make a sustainable replicable
        model.
      </p>
    </div>
  </div>
</div>
