<div class="container mx-auto px-4">
  <div class="flex flex-col justify-center">
    <div class="about-section">
      <p class="text-base text-gray-800 mb-4">
        FURIDA over the years has strived to make a positive difference in
        society through implementing various development projects by Jharkhand
        Govt. that empower communities at the Grass-Root level and improve the
        quality of living with a focus on continued reflection.
      </p>
      <p class="text-base text-gray-800">
        The organization always owned community mobilization as an appropriating
        strategy for community development, we have taken this approach as a
        golden rule to forge ahead through our participating approach we are
        aligning our mission with the community to make a sustainable replicable
        model.
      </p>
    </div>
  </div>
</div>
