<button mat-button class="mb-2" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>BACK
</button>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="d-flex justify-content-center my-2">
    <div class="w-50">
      <mat-card appearance="outlined">
        <div class="container py-3">
          <div class="d-flex flex-column">
            <p class="text-center h4 py-2">Create New Post</p>
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Content</mat-label>
              <textarea matInput rows="5" formControlName="content"></textarea>
            </mat-form-field>
            <div class="d-flex justify-content-end">
              <button
                mat-raised-button
                color="primary"
                class="w-25"
                type="submit"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</form>
