<div class="my-2">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="text-center" mat-dialog-title>Update Password</h2>
    <mat-dialog-content>
      <div class="d-flex flex-column">
        <mat-form-field>
          <mat-label>Current Password</mat-label>
          <input matInput formControlName="oldPassword" type="password" />
          <mat-error *ngIf="form.get('oldPassword')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-divider class="py-2"></mat-divider>
        <mat-form-field>
          <mat-label>New Password</mat-label>
          <input
            matInput
            formControlName="newPassword"
            [type]="hide() ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            class="mx-1"
            type="button"
            (click)="toggleHide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="form.get('newPassword')?.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Re-enter Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" />
          <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
            Please re-enter new password
          </mat-error>
        </mat-form-field>
      </div></mat-dialog-content
    >
    <mat-dialog-actions>
      <div class="d-flex justify-content-center align-items-center w-100">
        <mat-spinner *ngIf="loading$ | async" diameter="30"></mat-spinner>
        <button
          mat-raised-button
          color="primary"
          [disabled]="form.invalid || (loading$ | async)"
          class="dialog-action-button"
        >
          Update
        </button>
        <button
          mat-raised-button
          mat-dialog-close
          class="dialog-action-button"
          cdkFocusInitial
        >
          Cancel
        </button>
      </div></mat-dialog-actions
    >
  </form>
</div>
