<app-header></app-header>
<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-4 px-4">
    <div class="display-4">Your Posts</div>
    <div class="d-flex gap-2">
      <button
        mat-raised-button
        color="primary"
        (click)="navigateToCreatePost()"
      >
        Create New Post
      </button>
      <button mat-raised-button (click)="logout()">Logout</button>
    </div>
  </div>
  <hr />
</div>
<div class="container">
  <div class="row row-cols-3 px-4">
    <div class="col" *ngFor="let post of posts">
      <mat-card appearance="outlined" class="mb-3 shadow-sm">
        <img
          mat-card-image
          [src]="post.imgUrl"
          alt="No image found"
          class="card-image-h"
        />
        <mat-card-header class="mb-2">
          <mat-card-title class="single-line-truncate">
            {{ post.title }}
          </mat-card-title>
          <mat-card-subtitle>{{ post.date | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="truncate-text card-content-h">
          <p>{{ post.content }}</p>
        </mat-card-content>
        <mat-card-actions class="btn-group">
          <button mat-button (click)="openEditDialog(post.id)">EDIT</button>
          <button mat-button (click)="openDeleteDialog(post.id)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
