<div class="container mb-3">
  <mat-progress-bar
    *ngIf="loading$ | async"
    mode="indeterminate"
    class="mb-3"
  ></mat-progress-bar>
  <div class="row g-3">
    <div class="col-12 col-md-6 col-xl-4" *ngFor="let doc of docs$ | async">
      <div class="d-flex justify-content-center align-items-center">
        <mat-card appearance="outlined" class="custom-card">
          <mat-card-header class="mb-2">
            <mat-card-title class="single-line-truncate">
              {{ doc.name }}
            </mat-card-title>
            <mat-card-subtitle>{{
              getProjectNameById(doc.projectId) | async
            }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content class="single-line-truncate">
            <p>{{ doc.desc }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button [href]="doc.docUrl" target="_blank">DOWNLOAD</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
