<div class="flex justify-center align-items-center min-vh-100">
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="w-full">
      <mat-card appearance="outlined" class="login-form">
        <div class="flex flex-col container my-4">
          <p class="text-center h4 py-2">Login</p>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
            <mat-error *ngIf="form.get('username')?.hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="form.get('password')?.hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
          <div class="flex justify-content-end align-items-center gap-2">
            <mat-spinner *ngIf="loading$ | async" diameter="30"></mat-spinner>
            <button
              mat-raised-button
              class="dialog-action-button"
              color="primary"
              type="submit"
              [disabled]="form.invalid || (loading$ | async)"
            >
              Log In
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </form>
</div>
