<form [formGroup]="form" (ngSubmit)="login()">
  <div class="d-flex justify-content-center my-2">
    <div class="w-50">
      <mat-card appearance="outlined" class="shadow">
        <div class="container py-3">
          <div class="d-flex flex-column">
            <p class="text-center h4 py-2">Login</p>
            <mat-form-field>
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" />
            </mat-form-field>
            <div class="d-flex justify-content-end">
              <button
                mat-raised-button
                class="text-bg-primary w-25"
                type="submit"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</form>
