<div class="container">
  <h2 class="text-center" mat-dialog-title>Confirm</h2>
  <mat-dialog-content class="d-flex justify-content-center">
    <p>
      {{ data.message }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions class="mb-2">
    <div class="d-flex justify-content-center align-items-center w-100">
      <button
        mat-raised-button
        class="dialog-action-button"
        color="primary"
        (click)="confirm()"
      >
        Yes
      </button>
      <button
        mat-raised-button
        class="dialog-action-button"
        mat-dialog-close
        cdkFocusInitial
      >
        No
      </button>
    </div>
  </mat-dialog-actions>
</div>
