<div class="container my-2">
  <h2 mat-dialog-title>Confirm</h2>
  <mat-dialog-content>
    <p>
      {{ data.message }}
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="d-flex justify-content-center align-items-center w-100">
      <button
        mat-flat-button
        class="dialog-action-button"
        color="primary"
        (click)="confirm()"
      >
        Yes
      </button>
      <button
        mat-button
        class="dialog-action-button"
        color="primary"
        mat-dialog-close
        cdkFocusInitial
      >
        No
      </button>
    </div>
  </mat-dialog-actions>
</div>
