<mat-progress-bar
  *ngIf="loading$ | async"
  mode="indeterminate"
  class="mb-3"
></mat-progress-bar>
<div class="container">
  <div class="row justify-content-center g-3">
    <div class="col-auto" *ngFor="let message of messages$ | async">
      <mat-card appearance="outlined" class="custom-card shadow-sm">
        <mat-card-header class="mb-2">
          <mat-card-title class="single-line-truncate">
            {{ message.name }}
          </mat-card-title>
          <mat-card-subtitle>{{ message.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-content-h mb-3">
          <p class="single-line-truncate">{{ message.msg }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="gap-2">
          <button
            mat-button
            (click)="archiveMessage(message.id)"
            [disabled]="loading$ | async"
          >
            {{ archiveButtonText }}
          </button>
          <button
            mat-button
            (click)="deleteMessage(message.id)"
            [disabled]="loading$ | async"
          >
            DELETE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
