<div class="w-full p-4">
  <div *ngIf="loading$ | async" class="mb-3">
    <progress class="progress w-full progress-primary"></progress>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let project of projects$ | async">
      <div class="flex justify-center items-center">
        <div class="card shadow-md w-full border border-gray-200">
          <div class="card-body">
            <h2 class="card-title truncate">{{ project.name }}</h2>
            <p class="text-sm text-gray-500">{{ project.address }}</p>
            <p class="truncate text-gray-700">{{ project.desc }}</p>
          </div>
          <div class="card-actions justify-end p-4">
            <button
              class="btn btn-sm btn-outline btn-primary"
              (click)="updateProject(project.id)"
              [disabled]="loading$ | async"
            >
              Edit
            </button>
            <button
              class="btn btn-sm btn-outline btn-error"
              (click)="deleteProject(project.id)"
              [disabled]="loading$ | async"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
