<mat-toolbar>
  <div class="flex justify-between w-full">
    <app-brand-logo-v2 class="h-100"></app-brand-logo-v2>
    <div class="flex gap-2">
      <mat-spinner
        class="px-4"
        *ngIf="authLoading$ | async"
        diameter="30"
      ></mat-spinner>
      <button
        mat-button
        class="link-button h-100 px-3"
        [matMenuTriggerFor]="profileMenu"
      >
        <span class="flex items-center gap-1">
          <p *ngIf="!(authLoading$ | async)" class="mb-0 fs-6 fst-italic">
            {{ getAuthUser() | async }}
          </p>
          <mat-icon fontIcon="person"></mat-icon
        ></span>
      </button>
      <mat-menu #profileMenu="matMenu" xPosition="before">
        <button mat-menu-item>
          <mat-icon fontIcon="account_circle" class="m-0"></mat-icon
          ><span class="ms-2">Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon fontIcon="logout" class="m-0"></mat-icon
          ><span class="ms-2">Logout</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
