<app-header></app-header>
<div class="d-flex justify-content-center bg-body-tertiary py-5">
  <div class="display-4">FURIDA NGO Jamshedpur</div>
  <!-- <p class="lead">
      This is a lead paragraph. It stands out from regular paragraphs.
    </p> -->
</div>
<div class="container">
  <div class="d-flex justify-content-center mt-4">
    <h2 class="letter-spacing-1">LATEST UPDATES</h2>
  </div>
  <mat-divider class="mb-3"></mat-divider>
</div>
<app-updates></app-updates>
<app-footer></app-footer>
