.mat-column-name {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-desc {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-address {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-edit {
  width: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-delete {
  width: 100px;
}

mat-paginator {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
