<div class="my-2">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2 class="text-center" mat-dialog-title>Update Document</h2>
    <mat-dialog-content>
      <div class="flex flex-col">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="form.get('name')?.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="desc" />
          <mat-error *ngIf="form.get('desc')?.hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="flex justify-center align-items-center w-100">
        <button
          mat-raised-button
          color="primary"
          [disabled]="form.invalid"
          class="dialog-action-button"
        >
          Update
        </button>
        <button
          mat-raised-button
          mat-dialog-close
          cdkFocusInitial
          class="dialog-action-button"
        >
          Cancel
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>
