<div class="w-full">
  <div class="my-2 text-center">
    <button mat-icon-button (click)="toggleMenu()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="flex justify-center">
    <mat-divider></mat-divider>
  </div>
  <div class="px-4 mt-4 flex flex-col align-items-center gap-2">
    <button
      mat-button
      class="text-white w-100"
      (click)="toggleMenu()"
      routerLink="/about"
    >
      About
    </button>
    <mat-expansion-panel class="w-100">
      <mat-expansion-panel-header>
        <mat-panel-title>Projects</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-col gap-2">
        <button
          mat-button
          *ngFor="let project of projects$ | async"
          [routerLink]="['/projects', project.id]"
          (click)="toggleMenu()"
        >
          {{ project.name }}
        </button>
      </div>
    </mat-expansion-panel>
    <button
      mat-button
      class="text-white w-100"
      (click)="toggleMenu()"
      routerLink="/contact"
    >
      Contact
    </button>
    <button
      mat-button
      class="text-white w-100"
      (click)="toggleMenu()"
      routerLink="/"
    >
      CCTV
    </button>
    <div class="flex justify-center w-100">
      <app-admin-button></app-admin-button>
    </div>
  </div>
</div>
