<div class="w-full mb-3 p-4">
  <mat-progress-bar
    *ngIf="loading$ | async"
    mode="indeterminate"
    class="mb-3"
  ></mat-progress-bar>

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-4 gap-4"
  >
    <div class="" *ngFor="let post of posts$ | async">
      <div class="card bg-base-100 w-full shadow-xl">
        <figure>
          <img
            [src]="post.imgUrl || 'https://placehold.co/600x400'"
            alt="Shoes"
            class="h-56 object-cover w-full rounded-t-lg"
          />
        </figure>
        <div class="card-body p-4">
          <h2 class="card-title truncate">{{ post.title }}</h2>
          <p class="text-xs text-base-content">{{ post.date | date }}</p>
          <p class="truncate">{{ post.content }}</p>
          <div class="card-actions justify-end">
            <button class="btn btn-ghost" (click)="viewPost(post)">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  @if(selectedPost) {
  <dialog #myModal class="modal" [class.modal-open]="isModalVisible">
    <div class="modal-box p-4">
      <div class="flex justify-center items-center">
        <img
          [src]="selectedPost.imgUrl || 'https://placehold.co/600x400'"
          alt="Shoes"
          class="w-full object-cover rounded-lg"
        />
      </div>

      <h2 class="text-2xl font-semibold !my-4">{{ selectedPost.title }}</h2>
      <p class="text-sm text-gray-600 mb-2">{{ selectedPost.date | date }}</p>
      <p class="text-base text-gray-800 max-h-32 overflow-scroll">
        {{ selectedPost.content }}
      </p>
      <div class="modal-action mt-4">
        <button class="btn btn-ghost" (click)="closeModal()">Close</button>
      </div>
    </div>
  </dialog>
  }
</div>
