<mat-toolbar color="primary" class="shadow-sm">
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <a routerLink="\" class="navbar-brand fw-bold letter-spacing-1">FURIDA</a>
      <div class="d-flex gap-2">
        <button mat-button routerLink="/about">About</button>
        <button mat-button [matMenuTriggerFor]="projectMenu">Projects</button>
        <mat-menu #projectMenu="matMenu">
          <button
            mat-menu-item
            *ngFor="let project of projects"
            [routerLink]="['/projects', project.id]"
          >
            {{ project.name }}
          </button>
        </mat-menu>
        <button mat-button routerLink="/contact">Contact</button>
        <button mat-button>CCTV</button>
      </div>
    </div>
  </div>
</mat-toolbar>
