html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-container {
  width: 500px;
  max-width: 90vw;
}

.single-line-h {
  height: 20px;
}

.custom-card {
  width: 380px;
  max-width: 90vw;
}

.custom-dialog-container {
  width: 500px;
  max-width: 90vw;
  border-radius: 20px;
  overflow: hidden;
}

.alert-dialog-container {
  width: 500px;
  max-width: 90vw;
  border-radius: 20px;
  overflow: hidden;
}

.dialog-action-button {
  width: 40%;
}
