html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-dialog-container {
  width: 500px;
}

.alert-dialog-container {
  width: 700px;
}

.dialog-action-button {
  width: 30%;
}
