@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* Import Tailwind after Material */
@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.btn {
  height: 2rem !important;
  min-height: 2rem !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.form-container {
  width: 500px;
  max-width: 90vw;
}

.single-line-h {
  height: 20px;
}

.custom-card {
  width: 380px;
}

.custom-dialog-container {
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.alert-dialog-container {
  width: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.dialog-action-button {
  width: 40%;
}
