<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-card appearance="outlined" class="form-container shadow-sm">
        <div class="container py-3">
          <div class="d-flex flex-column">
            <div class="d-flex flex-column align-items-center">
              <!-- Display selected image preview -->
              <div *ngIf="imagePreview" class="mb-3">
                <mat-card appearance="outlined">
                  <img
                    [src]="imagePreview"
                    class="image-preview"
                    alt="Selected Image Preview"
                  />
                </mat-card>
              </div>
              <input
                #imgInput
                type="file"
                (change)="onFileSelect($event)"
                accept="image/*"
                hidden
              />
              <button
                mat-raised-button
                color="accent"
                class="upload-button mb-3"
                type="button"
                (click)="imgInput.click()"
              >
                <mat-icon>file_upload</mat-icon> Select Image
              </button>
            </div>
            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput formControlName="title" />
              <mat-error *ngIf="form.get('title')?.hasError('required')">
                Title is required
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Content</mat-label>
              <textarea matInput rows="5" formControlName="content"></textarea>
              <mat-error *ngIf="form.get('content')?.hasError('required')">
                Content is required
              </mat-error>
              <mat-error
                *ngIf="
                  form.get('content')?.hasError('maxlength') &&
                  !form.get('content')?.hasError('required')
                "
              >
                Content is too large
              </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-end align-items-center gap-2">
              <mat-spinner *ngIf="loading$ | async" diameter="30"></mat-spinner>
              <button
                mat-raised-button
                color="primary"
                class="dialog-action-button"
                type="submit"
                [disabled]="form.invalid || (loading$ | async)"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </mat-card>
    </form>
  </div>
</div>
