<div class="container">
  <div class="d-flex justify-content-center">
    <mat-form-field class="filter-container">
      <mat-label>Filter By Project</mat-label>
      <mat-select
        [(value)]="selectedProjectId"
        (selectionChange)="selectProject($event.value)"
      >
        <mat-option
          *ngFor="let project of projects$ | async"
          [value]="project.id"
          >{{ project.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <mat-progress-bar
    *ngIf="loading$ | async"
    mode="indeterminate"
    class="mb-3"
  ></mat-progress-bar>
  <div class="row g-3">
    <div
      class="col-12 col-md-6 col-xl-4"
      *ngFor="let doc of filteredDocuments$ | async"
    >
      <div class="d-flex justify-content-center align-items-center">
        <mat-card appearance="outlined" class="custom-card">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <mat-card-header class="mb-3">
                <mat-card-title>
                  {{ doc.name }}
                </mat-card-title>
                <mat-card-subtitle>{{
                  getProjectNameById(doc.projectId) | async
                }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="single-line-truncate single-line-h">
                <p>{{ doc.desc }}</p>
              </mat-card-content>
            </div>
            <app-menu-button
              class="px-3"
              [downloadLink]="doc.docUrl"
            ></app-menu-button>
          </div>
          <mat-card-actions class="btn-group">
            <button
              mat-icon-button
              (click)="update(doc.id)"
              [disabled]="loading$ | async"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="delete(doc.id)"
              [disabled]="loading$ | async"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
