<div class="container">
  <mat-progress-bar
    *ngIf="loading$ | async"
    mode="indeterminate"
    class="mb-3"
  ></mat-progress-bar>
  <div class="row row-cols-3 px-4">
    <div class="col" *ngFor="let doc of documents$ | async">
      <mat-card appearance="outlined" class="mb-3 shadow-sm">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <mat-card-header class="mb-2">
              <mat-card-title class="single-line-truncate">
                {{ doc.name }}
              </mat-card-title>
              <mat-card-subtitle>{{
                getProjectNameById(doc.projectId) | async
              }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="truncate-text card-content-h">
              <p>{{ doc.desc }}</p>
            </mat-card-content>
          </div>
          <app-menu-button
            class="px-3"
            [downloadLink]="doc.docUrl"
          ></app-menu-button>
        </div>
        <mat-card-actions class="btn-group">
          <button
            mat-button
            (click)="update(doc.id)"
            [disabled]="loading$ | async"
          >
            EDIT
          </button>
          <button
            mat-button
            (click)="delete(doc.id)"
            [disabled]="loading$ | async"
          >
            DELETE
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
